* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    border: 20px solid black;
    height: auto;
    display:block;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

img {
    border: 1px solid red;
    margin: 5px;
}